/* Custom Styles for Andrew's Portfolio */

/* Hero Section */
#hero {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
/* General CSS rules */
.yellow-bordered-text {
    color: yellow; /* Text color */
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Simulates a border */
}


/* About Section */
#about h2 {
    font-size: 2rem;
}

/* Projects Cards */
.w3-card {
    background-color: #f4f4f4;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.w3-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    font-size: 0.9rem;
}